@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px; }

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px; }

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 36px; }

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px; }

.center-content {
  width: 85%;
  margin: auto;
  text-align: center; }
  .center-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    line-height: 1.333;
    text-transform: uppercase; }
  .center-content h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3.5rem; }

.home-blocks {
  display: inline-block; }

.social-media {
  width: 40px;
  height: 210px;
  display: none; }

.social-media2 {
  display: inline; }
  .social-media2 svg {
    width: 40px; }

.circle {
  border: 3px solid #fdfdfd;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 30px 0px; }

.ssmm-1 {
  fill: white; }

.ssmm-2 {
  fill: #191a1f; }

.ssmm-2:hover {
  fill: #5f8e98;
  transition: all 0.5s ease; }

.circle:hover {
  background-color: #5f8e98;
  border: 3px solid #5f8e98;
  transition: all 0.5s ease;
  background-position: left bottom; }

.circle:hover svg {
  fill: #fdfdfd;
  transition: all 0.5s ease; }

.inkpour {
  margin-bottom: -5vh;
  z-index: 0; }
  .inkpour .waves {
    width: 100%;
    margin-top: -80px;
    /*Fix for safari gap*/
    max-height: 150px; }

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .content {
    height: 30vh; }
  h1 {
    font-size: 24px; } }

html,
body {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  font-family: sans-serif, Arial;
  background-color: white;
  color: #131217; }

/* -- SLIDER -- */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 0; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #131217;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* -- END OF SLIDER -- */
/* -- NAVIGATION BAR --*/
.nav {
  display: none; }

.smallDevices {
  z-index: 1; }
  .smallDevices #hamburger {
    position: fixed;
    margin: 50px;
    z-index: 2;
    cursor: pointer; }
  .smallDevices .line {
    width: 40px;
    height: 3.5px;
    background: #131217;
    border: 1px solid white;
    margin-bottom: 5px; }
  .smallDevices #menu {
    width: 320px;
    height: 100%;
    background: #5f8e98;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left .1s;
    padding: 2rem 3rem; }
  .smallDevices .menu-item:first-child {
    margin-top: 180px; }
  .smallDevices .menu-item a {
    color: #fdfdfd;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 36px;
    width: 100%;
    box-sizing: border-box; }

/* -- END OF NAVIGATION BAR --*/
#container__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #131217;
  z-index: 0; }

/* -- FLIP CARDS --*/
.flip-card {
  width: 220px;
  height: 300px;
  perspective: 1000px; }

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg); }

.flip-card__front,
.flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px; }

.flip-card__front {
  background-color: white;
  color: #131217; }
  .flip-card__front h4 {
    padding-top: 10px;
    text-align: center; }

.flip-card__back {
  background-color: #5f8e98;
  color: #131217;
  transform: rotateY(180deg);
  display: flex;
  align-items: center; }

/* -- END OF FLIP CARDS --*/
p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center; }

a {
  text-decoration: none;
  list-style: none;
  color: #5f8e98; }

span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #5f8e98;
  font-size: 3.5rem; }

.container {
  padding: 25px; }

.mainBody {
  padding-left: 50px; }
  .mainBody .backgroundColored {
    background-color: white; }
  .mainBody #mainBody__contactForm {
    background-color: #191a1f; }
    .mainBody #mainBody__contactForm h2 {
      color: white; }
    .mainBody #mainBody__contactForm span {
      color: #d0667a; }
  .mainBody #mainBody__projects {
    background-color: #bbb; }
    .mainBody #mainBody__projects h5,
    .mainBody #mainBody__projects p {
      color: #131217; }
    .mainBody #mainBody__projects span {
      color: #131217; }
  .mainBody #mainBody__services {
    background-color: #5f8e98; }
    .mainBody #mainBody__services span {
      color: white; }

h2 {
  text-align: left; }

h1 {
  text-align: center; }

img {
  margin: auto; }

#mainBody__header {
  color: white;
  height: 100vh;
  padding: 20vh 0;
  text-align: center;
  background-image: url("../img/background-vangogh.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat; }
  #mainBody__header .container {
    width: 40%;
    margin: auto; }
  #mainBody__header .header__title {
    margin: 10px;
    padding: 10px;
    width: 450px;
    border: 5px solid white; }
  #mainBody__header .header__subtitle {
    padding-top: 20px;
    padding-bottom: 30px; }

/* -- BUTTONS & FORMS --*/
#container__contactForm {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 70px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  color: #131217; }
  #container__contactForm p {
    text-align: left; }

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #131217;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

label {
  color: #131217; }

.button {
  border-radius: 25px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer; }

.button__lightBlueButton {
  background-color: #5f8e98;
  border: 2px #5f8e98 solid;
  color: #131217; }

/* -- END OF BUTTONS & FORMS --*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    margin: auto; }
  #header .container {
    width: 90%;
    margin-top: -5%; }
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  span {
    font-size: 24px; }
  p {
    font-size: 12px; }
  .button {
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 12px;
    cursor: pointer; }
  .numbertext {
    display: none; }
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .header__title {
    margin: 10px;
    padding: 10px;
    width: 250px;
    border: 5px solid white; }
    .header__title h1 {
      font-size: 28px; }
  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px; }
  h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px; }
  h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px; }
  h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px; }
  .nav {
    width: 120vh;
    height: 50px;
    position: fixed;
    background: #131217;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%); }
    .nav a {
      text-decoration: none;
      color: white; }
    .nav li {
      list-style: none;
      display: inline;
      color: #5f8e98;
      font-size: 15px;
      margin: 5px; }
    .nav ul {
      padding: 0;
      overflow: hidden; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #header .container {
    width: 50%; }
  .numbertext {
    display: none; }
  .slideshow-container {
    width: 80vw;
    position: relative;
    margin: auto; }
  .header__title {
    margin: 10px;
    padding: 10px;
    width: 350px;
    border: 5px solid white; }
    .header__title h1 {
      font-size: 36px; } }

@media only screen and (max-width: 768px) {
  #container__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: #131217; }
  .flip-card {
    margin: 10px 0; }
  .center-content h1 {
    font-size: 6rem; }
  .center-content h5 {
    font-size: 1.8rem; } }

@media only screen and (max-width: 1024px) {
  .mainBody {
    padding-left: 0; }
  #container__contactForm {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    padding: 20px; } }

@media only screen and (min-width: 1024px) {
  .smallDevices {
    display: none; }
  .nav {
    display: block;
    width: 100vh;
    height: 50px;
    position: fixed;
    background: #131217;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%); }
    .nav a {
      text-decoration: none;
      color: white; }
    .nav li {
      list-style: none;
      display: inline;
      color: #5f8e98;
      font-size: 21px;
      margin: 5px; }
    .nav ul {
      margin-left: 5vh;
      margin-top: 5px;
      padding: 0;
      overflow: hidden; }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    border-radius: 25px; }
  .social-media {
    display: inline-block; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #header .container {
    width: 30%; }
  .slideshow-container {
    width: 100vw;
    position: relative;
    margin: auto; } }
