@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    color: #3b3b3b;
    margin: 0;
    padding: 0;
}

.inkpour {
    fill: #fdfdfd;
    margin-top: -5%;
}

.home-content {
    background-image: url("../images/background-vangogh.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin: auto;
    padding: 6rem 3rem;
}

h1,
h3 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 5vw;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.home-content h1,
.home-content h5 {
    color: #fdfdfd;
}

.home-content h1 {
    font-size: 172px;
    letter-spacing: 30px;
}

.home-content h5 {
    font-size: 2rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.center-content {
    width: 95%;
    margin: auto;
    text-align: center;
}

.home-blocks {
    display: inline-block;
}

.social-media {
    width: 40px;
    height: 210px;
    padding-top: 70px;
    display: inline-block;
}

.circle {
    border: 3px solid #fdfdfd;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 30px 0px;
}

.ssmm-1 {
    fill: #fdfdfd;
}

.circle:hover {
    background-color: #5f8e98;
    border: 3px solid #5f8e98;
    transition: all 0.5s ease;
    background-position: left bottom;
}

.circle:hover svg {
    fill: #fdfdfd;
    transition: all 0.5s ease;
}

#about {
    background-color: #fdfdfd;
    height: 500px;
    text-align: center;
    width: 80%;
    margin: auto;
}

#hamburger {
    position: fixed;
    margin: 50px;
    z-index: 2;
    cursor: pointer;
}

.line {
    width: 40px;
    height: 3.5px;
    background: #5f8e98;
    margin-bottom: 5px;
}

#menu {
    width: 320px;
    height: 100%;
    background: #5f8e98;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left .1s;
    padding: 2rem 3rem;
}

.menu-item:first-child {
    margin-top: 180px;
}

.menu-item a {
    color: #fdfdfd;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 36px;
    width: 100%;
    box-sizing: border-box;
}

.menu-item:hover {
    cursor: pointer;
}

@media (max-width:1080px) {
    .social-media {
        display: none;
    }
    .center-content {
        width: 100%;
    }
}

@media (max-width:960px) {
    h1 {
        font-size: 15vw;
        letter-spacing: normal;
    }
    h5 {
        font-size: 3vw;
    }
    .home-content h5 {
        margin-left: -25%;
    }
    .home-content {
        height: 130%;
    }
}

@media (max-width:768px) {
    #hamburger {
        margin: 5%;
    }
    .line {
        width: 25px;
        height: 2.25px;
    }
}