@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #bb342f;
    color: #3b3b3b;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 2rem;
}

.home-content {
    background-color: #fdfdfd;
    height: 100vh;
    width: 100%;
    padding: 6rem 3rem;
    margin: auto;
}

h1,
h5 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 25vh;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.center-content {
    width: 95%;
    margin: auto;
    text-align: center;
}

.home-blocks {
    display: inline-block;
}

.social-media {
    width: 40px;
    height: 210px;
    padding-top: 70px;
    display: none;
}

.circle {
    border: 3px solid #3b3b3b;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 30px 0px;
}

.circle:hover {
    background-color: #bb342f;
    border: 3px solid #bb342f;
    transition: all 0.5s ease;
    background-position: left bottom;
}

.circle img {
    width: 100%;
    height: 100%;
    padding-top: -6px;
    padding-left: -10px;
}

#about {
    background-color: #3b3b3b;
    height: 500px;
}

#hamburger {
    position: fixed;
    margin: 50px;
    z-index: 2;
    cursor: pointer;
}

.line {
    width: 40px;
    height: 3.5px;
    background: #3b3b3b;
    margin-bottom: 5px;
}

#menu {
    width: 320px;
    height: 100%;
    background: #3b3b3b;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left .1s;
}

.menu-item:first-child {
    margin-top: 180px;
}

.menu-item a {
    color: #fdfdfd;
    text-decoration: none;
    font-size: 22px;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
}

.menu-item:hover {
    background: #444148;
    cursor: pointer;
}

@media (min-width:1080px) {
    .social-media {
        display: inline-block;
    }
}